@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Swey</h1>
    
    <p>Contact me for more info <a href="https://www.facebook.com/profile.php?id=100009452897000">Click here</a></p>
</div>

<div class="container">
    <h2>What is swey?</h2>
    <p>Swey nsaudwbtb we rtewui twuet wejt wentw523ff</p>
  
</div>

<div class="w3-container w3-red">
    <p>asdwdasdwa</p>
</div>

<div class="w3-container w3-green">
    <p>awdwadsadwd</p>
</div>