@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>One of the main requirements of data privacy laws is notifying users about the data you collect, by what means and for what purposes. Your Privacy Policy page is a common location to display that information. It also needs to be kept up to date as your website, the cookies and other tracking technologies you use, and the legal landscape change..</p>
